<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.6.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBhktdjHBGtCOfcETWvHpn1dfdplUlB2GU",
    authDomain: "gorkiy-day.firebaseapp.com",
    databaseURL: "https://gorkiy-day.firebaseio.com",
    projectId: "gorkiy-day",
    storageBucket: "gorkiy-day.appspot.com",
    messagingSenderId: "212981149863",
    appId: "1:212981149863:web:08a588b631b55afe9e2b82"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>